li a { color: green; }
body {  background-image: url("images/background-4232859_1280.png"); background-repeat: no-repeat;
        background-size: cover; }

.top_nav {
  overflow: hidden;
  background-color: #333;
}

.top_nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top_nav a:hover {
  background-color: #ddd;
  color: black;
}